# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-c f': 'atom-te:runFile'
  'ctrl-c ctrl-f': 'atom-te:runFile'
  'ctrl-c l': 'atom-te:runLine'
  'ctrl-c ctrl-l': 'atom-te:runLine'
  'ctrl-c a': 'atom-te:runAll'
  'ctrl-c ctrl-a': 'atom-te:runAll'
  'ctrl-c c': 'atom-te:runLast'
  'ctrl-c ctrl-c': 'atom-te:runLast'
